<div class="flex items-center justify-center mt-4">

    <form class=" w-1/2 p-6 flex flex-col justify-center" [formGroup]="productform" (ngSubmit)="onSubmit()">
        <h1 class="text-2xl text-gray-800 font-bold">Edit</h1>
        <div class="flex flex-col">
            <label for="name" class="hidden">Full Name</label>
            <input type="name" name="name" id="name" placeholder="Full Name" formControlName="name"
                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
            <span
                *ngIf="!productform.controls.name.valid && (productform.controls.name.dirty || productform.controls.name.touched)"
                class="text-xs text-red-500 mt-1">Name không đúng định dạng</span>
        </div>
        <div class="flex flex-col mt-2">
            <label for="image" class="hidden">Image</label>
            <input type="text" name="image" id="image" placeholder="Image" formControlName="image"
                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
            <span
                *ngIf="!productform.controls.image.valid && (productform.controls.image.dirty || productform.controls.image.touched)"
                class="text-xs text-red-500 mt-1">Image không đúng định dạng</span>
        </div>
        <div class="flex flex-col mt-2">
            <label for="price" class="hidden">Price</label>
            <input type="text" name="price" id="price" placeholder="Price" formControlName="price"
                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 dark:text-gray-50 font-semibold focus:border-blue-500 focus:outline-none" />
            <span
                *ngIf="!productform.controls.price.valid && (productform.controls.price.dirty || productform.controls.price.touched)"
                class="text-xs text-red-500 mt-1">Price không đúng định dạng</span>
        </div>
        <div class="flex flex-col mt-2">
            <label for="tel" class="hidden">Category</label>
            <select id="category" formControlName="category"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 px-2 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <option *ngFor="let category of categorys" [value]="category.name">
                    {{ category.name }}
                </option>
            </select>
            <span
                *ngIf="!productform.controls.category.valid && (productform.controls.category.dirty || productform.controls.category.touched)"
                class="text-xs text-red-500 mt-1">Khong duoc de trong</span>
        </div>
        <button type="submit"
            class="md:w-32 bg-blue-600 dark:bg-gray-100 text-white dark:text-gray-800 font-bold py-3 px-6 rounded-lg mt-4 hover:bg-blue-500 dark:hover:bg-gray-200 transition ease-in-out duration-300">Update</button>
    </form>
</div>